.container {
  .header {
    .header-content {
      display: flex;
      justify-content: space-between;

      .content {
        display: flex;
        align-items: baseline;
        gap: 2rem;
      }
    }
  }
}
