<div class="container">
  <form [formGroup]="formGroup" (submit)="handleSubmit()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Document List</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Enter Document ID"
          formControlName="documentList"
        >
          @for (documentId of formGroup.value.documentList; track documentId) {
          <mat-chip-row (removed)="removeDocumentId(documentId)">
            {{ documentId }}
            <button matChipRemove aria-label="'remove ' + documentId">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          type="number"
          placeholder="New Document ID..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Template</mat-label>
        <textarea
          matInput
          placeholder="Prompt Template"
          formControlName="template"
          class="template"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Knowledge</mat-label>
        <textarea
          matInput
          placeholder="Elements Knowledge"
          formControlName="knowledge"
          class="knowledge"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>User Content</mat-label>
        <textarea
          matInput
          placeholder="User Content"
          formControlName="userContent"
          class="user-content"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button type="submit" mat-stroked-button color="primary">Process</button>
      <button
        type="button"
        mat-stroked-button
        color="accent"
        (click)="handleReset()"
      >
        Reset
      </button>
      <button
        type="button"
        mat-stroked-button
        color="warn"
        (click)="handleClear()"
      >
        Clear
      </button>
    </div>
  </form>
  <div class="result-container">
    <app-nlp-result />
    <app-nlp-accuracy />
  </div>
</div>
