@use "../../../theme/color-variables.scss" as c;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.result-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.document-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .document-field {
    width: 100%;
  }
}

.param-container {
  display: flex;
  gap: 1rem;
}

.search-button {
  width: 7rem;
}

.log-container {
  padding: 0.25rem;
  height: 10rem;
  overflow-y: scroll;
  background-color: c.$ic-black;
  color: c.$ic-white;
  font-family: monospace;
  font-size: 1rem;
}
